@import "tailwindcss";

:root {
  --background: #F9F7F3;
  --foreground: #171717;
  --std-black: #1E1E1E;

  --sec-inactive: #8B8B8B;
}

@theme inline {
  /* Main Colors */
  --color-background: var(--background);
  --color-main-black: var(--std-black);

  /* Secondary Colors */
  --color-sec-inactive: var(--sec-inactive);

  /* Fonts */
  --font-julius: var(--font-julius-sans);
  --font-lexend: var(--font-lexend-sans);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
