@import "tailwindcss";

:root {
  --background: #f9f7f3;
  --foreground: #171717;
  --light-text: #f9f7f3;
  --std-black: #1e1e1e;

  --sec-inactive: #8b8b8b;
  --sec-border-product-color: #b4b4b4;
  --sec-product-color: #c6a664;
  --sec-active-product-size: #777777;
  --sec-inactive-product-size: #e2e2e2;
}

@theme inline {
  /* Main Colors */
  --color-background: var(--background);
  --color-main-black: var(--std-black);

  /* Secondary Colors */
  --color-sec-inactive: var(--sec-inactive);
  --color-light-text: var(--light-text);
  --color-border-product-color: var(--sec-border-product-color);
  --color-product-color: var(--sec-product-color);
  --color-active-product-size: var(--sec-active-product-size);
  --color-inactive-product-size: var(--sec-inactive-product-size);

  /* Fonts */
  --font-julius: var(--font-julius-sans);
  --font-lexend: var(--font-lexend-sans);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
