@import "tailwindcss";

:root {
  --background: #f9f7f3;
  --foreground: #171717;
  --light-text: #f9f7f3;
  --std-black: #1e1e1e;

  --sec-inactive: #8b8b8b;
}

@theme inline {
  /* Main Colors */
  --color-background: var(--background);
  --color-main-black: var(--std-black);

  /* Secondary Colors */
  --color-sec-inactive: var(--sec-inactive);
  --color-light-text: var(--light-text);

  /* Fonts */
  --font-julius: var(--font-julius-sans);
  --font-lexend: var(--font-lexend-sans);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
